@font-face {
	font-family: 'Card Name';
	src: url('/assets/fonts/Yu-Gi-Oh! Matrix Regular Small Caps 1.ttf')  format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Card Description';
	src: url('/assets/fonts/Yu-Gi-Oh! Matrix Book.ttf')  format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Card Effect';
	src: url('/assets/fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.ttf')  format('truetype');
	font-weight: bold;
}

